@import "compass/css3";

$green: #3DB871;

header {
    @include background-image(
        linear-gradient(to bottom, $green, #fff)
    );
    padding: 2rem;
    height: 8rem; line-height: 6rem;
    h1 {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
}
