@import "animation/core";
@import "compass/css3";

$green: #3DB871;

header {
    @include background-image(
        linear-gradient(to bottom, $green, #fff)
    );
    padding: 2rem;
    height: 8rem; line-height: 6rem;
    h1 {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
}

@include keyframes(spin) {
    100% { @include transform(rotate(360deg)); }
}

@include keyframes(fade) {
    0% { @include opacity(1); }
   50% { @include opacity(0); }
  100% { @include opacity(1); }
}

article {
    text-align: center;
    padding-top: 5rem;
    img {
        width: 30%;
        @include animation(
            spin 1s linear infinite,
            fade 0.3s linear infinite
        );
    }
}

#newsletter-link {
    text-align: center;
    font-size: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%,-100%));
}
